ion-toolbar {
    --background: transparent;
}

.form-container {
    margin: 0 10px 0 10px;
}

.tree-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
    height: 100%;
    min-height: 200px;
    background-color: gray;
}

.item-content {
    background-color: transparent;
    --border-radius: 15px;
}

.swiper-zoom-container>img {
    object-fit: cover;
}