<ion-card>
  @if (levels().length > 0) {
    <form [formGroup]="itemFormGroup">
      <ion-list class="form-container" lines="none">
        <!-- Selected Level -->
        <ion-item>
          <ion-select
          #type
            fill="outline"
            label="Type*"
            interface="popover"
            placeholder="Select Type"
            label-placement="stacked"
            required="true"
            style="margin-top: 10px"
            formControlName="type"
            (ionChange)="selectedLevelChange()"
          >
            @for (level of levels(); track $index) {
              <ion-select-option [value]="level">{{ level.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>

        <!-- New Item Name -->
        <ion-item>
          <ion-input
          #typeValue
            fill="outline"
            style="margin-top: 10px"
            required="true"
            labelPlacement="stacked"
            label="New {{ type.value?.name }}"
            placeholder="Enter new {{ type.value?.name }}"
            formControlName="typeValue"
          ></ion-input>
        </ion-item>

        @if (type?.value?.parent != null && typeValue.value != '') {
          <!-- Select Parent -->
          <ion-item>
            <ion-select
              fill="outline"
              label="{{ type.value!.parent!.name }}*"
              interface="popover"
              placeholder="Select {{ type.value!.parent!.name }}"
              label-placement="stacked"
              required="true"
              style="margin-top: 10px"
              formControlName="parent"
            >
              @for (level of parentLevels(); track $index) {
                <ion-select-option [value]="level">{{ level.name }}</ion-select-option>
              }
            </ion-select>
          </ion-item>
        }
      </ion-list>
    </form>
  }
</ion-card>
