<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="backClicked()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ title }} </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="createNewClicked()" color="primary">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Filter"
      animated="true"
      [debounce]="250"
      (ionInput)="filterTrees($event.target.value)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="backClicked()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title> {{ title }} </ion-title>
      <ion-buttons slot="end">
        <ion-button shape="round" (click)="createNewClicked()" color="primary">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      @for (tree of treesList; track $index) {
        <ion-col size="6">
          @if (currentTreeType == TreeType.Species) {
            <ion-card [attr.id]="tree.id['value']" [routerLink]="['/view', { id: tree.id['value'] }]" style="margin: 0">
              <img
                class="tree-image"
                [src]="getImage(tree)?.webviewPath ?? '../../../assets//images/image-not-found.jpg'"
              />
              <ion-card-header>
                <ion-card-title>
                  <h5>{{ tree.title }}</h5>
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          } @else {
            <ion-card
              [style.border-left]="'5px solid ' + pastelColors[$index]"
              [attr.id]="tree.id['value']"
              [routerLink]="['/list', { id: tree.id['value'], type: TreeType.Species }]"
            >
              <ion-card-header>
                <ion-card-title>
                  {{ tree.title }}
                </ion-card-title>
              </ion-card-header>
            </ion-card>
          }
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
