.tree-image {
  max-height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-card {
  min-height: 100%;
}

.family-tile {
  @extend .family-image-tile;
  height: 100px !important; 
  display: flex;
  align-items: flex-end;
  direction: rtl;
}

.family-image-tile {
  height: 100%;
  width: calc(100% + 16px);
  border-radius: 3px;
  margin: 0 -16px 0 0;
}

ion-item::part(native) {
  padding: 0;
}
