<ion-header [translucent]="true">
  <ion-toolbar>
    @if(showBackButton){
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="backClicked()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    }
    <ion-title> {{ !isEdit ? 'Create' : 'Update' }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      @if(showBackButton){
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="backClicked()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      }
      <ion-title size="large"> Create </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="form-container">
    @if(!isEdit){
    <ion-item>
      <ion-select
        interface="popover"
        placeholder="Select Type"
        label="Type*"
        label-placement="stacked"
        (ionChange)="typeSelected($event.detail.value)"
        [required]="true"
        [value]="newTree.type"
      >
        <ion-select-option [value]="TreetType.Group">Group</ion-select-option>
        <ion-select-option [value]="TreetType.Individual">
          Individual Tree
        </ion-select-option>
      </ion-select>
    </ion-item>
    }
    <ion-item>
      <ion-input
        label="Title*"
        labelPlacement="stacked"
        placeholder="Enter Title"
        (ionChange)="textInputChanged('title', $event)"
        [value]="newTree.title"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        label="Scientific Name"
        labelPlacement="stacked"
        placeholder="Enter Scientific Name"
        (ionChange)="textInputChanged('science', $event)"
        [value]="newTree.subTitle"
      ></ion-input>
    </ion-item>
    @if (newTree.type === TreetType.Group) {
    <ion-item>
      <ion-textarea
        label="Description*"
        labelPlacement="stacked"
        placeholder="Enter Description"
        (ionChange)="textInputChanged('groupDescription', $event)"
        [value]="newTree.description"
      ></ion-textarea>
    </ion-item>

    <!-- Group images -->
    <ion-grid>
      <ion-row>
        @for (image of newTree.images; track $index) {
        <ion-col size="3">
          <ion-img
            [src]="image.webviewPath"
            (click)="showImageActionSheet(image)"
          ></ion-img>
        </ion-col>
        }
      </ion-row>
    </ion-grid>
    } @else if(newTree.type === TreetType.Individual){ @if(!isEdit){
    <ion-item>
      <ion-select
        interface="action-sheet"
        placeholder="Select Group"
        label="Tree Group*"
        label-placement="stacked"
        (ionChange)="groupSelected($event)"
        [required]="true"
        [value]="newTree.groupId"
      >
        @for (group of treeGroups; track $index) {
        <ion-select-option [value]="group.id">
          {{group.title}}
        </ion-select-option>
        }
      </ion-select>
    </ion-item>
    }
    <ion-item>
      <ion-radio-group
        value="overview"
        class="radio-container"
        #infoRadio
        (ionChange)="infoTypeChanged($event.target.value)"
      >
        <ion-radio value="overview" labelPlacement="end">Overview</ion-radio>
        <ion-radio value="leaves" labelPlacement="end">Leaves</ion-radio>
        <ion-radio value="bark" labelPlacement="end">Bark</ion-radio>
        <ion-radio value="fruit" labelPlacement="end">Fruit</ion-radio>
      </ion-radio-group>
    </ion-item>

    <!-- individual images -->
    <ion-grid>
      <ion-row>
        @for (image of individualImages; track $index) {
        <ion-col size="3">
          <ion-img
            [src]="image.webviewPath"
            (click)="showImageActionSheet(image)"
          ></ion-img>
        </ion-col>
        }
      </ion-row>
    </ion-grid>

    <ion-item>
      <ion-textarea
        #ionInputEl
        label="Description"
        labelPlacement="stacked"
        placeholder="Enter Description"
        (ionChange)="textInputChanged('individualDescription', $event)"
      ></ion-textarea>
      <!-- [value]="infoDescription" -->
    </ion-item>
    }
  </ion-list>
  <div class="save-button-container">
    <ion-button shape="round" (click)="onSubmit()">Save</ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-toast
  [isOpen]="isErrorToastOpen"
  message="Please fill out all required fields"
  [duration]="3000"
  (didDismiss)="isErrorToastOpen = false"
></ion-toast>

<ion-toast
  icon="checkmark"
  [isOpen]="isSavedToastOpen"
  message="Tree Saved Successfully"
  [duration]="3000"
  (didDismiss)="isSavedToastOpen = false"
  class="successful-toast"
></ion-toast>
