.form-container {
  padding: 10px 10px 10px 0;
}

.save-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

.radio-container {
  overflow: auto;
  display: flex;
  height: 50px;
  align-items: center;
  gap: 20px;
}

.successful-toast {
  --background: rgba(0, 128, 0);
  color: white;
}
