<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Boomkyk </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Filter"
      animated="true"
      [debounce]="250"
      (ionInput)="filterGroups($event.target.value)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-tree-groups [groups]="groups"></app-tree-groups>
</ion-content>
