.radio-container {
  overflow: auto;
  display: flex;
  height: 50px;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
}

.tree-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.options-menu {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10px;
  width: 100%;
}

.swiper-zoom-container {
  width: 100%; /* Adjust width as needed */
  height: 100%; /* Adjust height as needed */
  overflow: auto;
}

.timestamp {
  position: absolute;
  top: 5px;
  right: 5px;
  width: max-content;
  height: max-content;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
