<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="icon-container">
      <ion-img src="../../../assets/icon/icon-only.png" class="ion-image"></ion-img>
      <ion-title> BoomSpoor </ion-title>
    </div>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="isOpen.set(true)" color="primary">
        <ion-icon slot="icon-only" name="filter-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Filter"
      animated="true"
      [debounce]="250"
      (ionInput)="filterGroups($event.target.value)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    @for (item of items(); track $index) {
    <ion-row>
      <!-- @for (t of item; track $index) { -->
      <ion-col>
        <ion-card class="item-card" [attr.id]="item.id['value']" [routerLink]="['/view', { id: item.id['value'] }]">
          @if(item.highlightImage && item.highlightImage.webPath != ''){
          <ion-img class="item-image" [src]="item.highlightImage.webPath"></ion-img>
          } @else {
          <ion-img class="item-image" src="../../../assets/images/image-not-found.jpg"></ion-img>
          }
          <ion-card-header>
            <sub style="margin: 0px"> Family > Genus </sub>
            <ion-card-title> {{item.name}} </ion-card-title>
          </ion-card-header>
          <sub style="margin: 0px; margin: 0px; position: absolute; bottom: 10px; right: 5px"> 2025-03-07 </sub>
        </ion-card>
      </ion-col>
      <!-- } -->
    </ion-row>
    }
  </ion-grid>

  @if(filteredStructures()){
<h5>hellooo</h5>
  }

  <app-bottom-sheet [(isOpen)]="isOpen" [structures]="categories()" [(filters)]="filters"></app-bottom-sheet>

  <ion-fab slot="fixed" horizontal="center" vertical="bottom">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button [routerLink]="['/create']" color="primary">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
