<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ !isEdit ? 'Create' : 'Update' }} </ion-title>
    <ion-button slot="end" (click)="onSubmit()">
      <ion-icon name="save" slot="start"></ion-icon>
      {{ !isEdit ? 'Save' : 'Update' }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> {{ !isEdit ? 'Create' : 'Update' }} </ion-title>
      <ion-button slot="end" (click)="onSubmit()">
        <ion-icon name="save" slot="start"></ion-icon>
        {{ !isEdit ? 'Save' : 'Update' }}
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <app-select-item
    [categories]="categories"
    [isEdit]="isEdit"
    [(selectedCategory)]="selectedCategory"
    [(selectedCategoryItem)]="selectedCategoryItem"
  ></app-select-item>

  @if(selectedCategoryItem()?.name && selectedCategoryItem()!.name!.length > 0){
  <app-item-image
    [selectedCategoryItem]="selectedCategoryItem()"
    [(actionSheetType)]="actionSheetType"
    [(isActionSheetOpen)]="isActionSheetOpen"
    [(images)]="images"
    [(selectedImage)]="selectedImage"
  ></app-item-image>

  <app-voice [(audioFiles)]="selectedCategoryItem()!.audioFiles"></app-voice>

  <app-map [markerCoordinate]="[]"></app-map>
  }
</ion-content>

<app-action-sheet
  [type]="actionSheetType"
  [(isOpen)]="isActionSheetOpen"
  (closed)="actionSheetClosed($event)"
></app-action-sheet>
