@if (selectedCategoryItem()?.name && selectedCategoryItem()!.name!.length > 0) {
  <ion-card>
    <ion-list class="form-container" lines="none">
      <ion-item>
        <ion-button
          expand="block"
          fill="outline"
          color="tertiary"
          size="large"
          style="width: 100%"
          (click)="actionSheetType.set('upload'); isActionSheetOpen.set(true)"
        >
          <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
        </ion-button>
      </ion-item>
      @if (images().length > 0) {
        <ion-item>
          <div class="image-scroll-container" (scroll)="endLongPress()">
            @for (image of images(); track $index) {
              <ion-img
                [src]="image.webPath"
                class="item-image"
                [class.highlight]="image.isHighlight"
                (touchstart)="startLongPress(image)"
                (touchend)="endLongPress()"
                (touchcancel)="endLongPress()"
                (dblclick)="doubleClick(image)"
              >
              </ion-img>
            }
          </div>
        </ion-item>
      }
      <ion-item>
        <ion-textarea
          fill="outline"
          label="Notes"
          labelPlacement="stacked"
          placeholder="Enter notes here"
          style="margin-top: 10px"
          autoGrow="true"
        >
        </ion-textarea>
      </ion-item>
    </ion-list>
  </ion-card>
}
