<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> {{ !isEdit() ? 'Create' : 'Update' }} </ion-title>
    <ion-button slot="end" (click)="onSubmit()">
      <ion-icon name="save" slot="start"></ion-icon>
      {{ !isEdit() ? 'Save' : 'Update' }}
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title> {{ !isEdit() ? 'Create' : 'Update' }} </ion-title>
      <ion-button slot="end" (click)="onSubmit()">
        <ion-icon name="save" slot="start"></ion-icon>
        {{ !isEdit() ? 'Save' : 'Update' }}
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <app-select-item
    [isEdit]="isEdit()"
    [itemFormGroup]="itemFormGroup"
    [(selectedCategory)]="selectedCategory"
    [(selectedCategoryItem)]="selectedCategoryItem"
    [(selectedParentItem)]="selectedParentItem"
  ></app-select-item>

  @if(itemFormGroup.valid){
  <app-item-image [(selectedCategoryItem)]="selectedCategoryItem" [(images)]="images"></app-item-image>

  <!-- Voice Notes -->
  <app-voice [selectedCategoryItem]="selectedCategoryItem()" [(audioFiles)]="audioFiles" [allowEdit]="true"></app-voice>

  <!-- Map -->
  <app-item-map [selectedCategoryItem]="selectedCategoryItem()" [(mapPins)]="mapPins"></app-item-map>
  <div style="margin-bottom: 100px"></div>
  }
</ion-content>
