.form-container {
  padding: 10px 10px 10px 0;
}

.radio-container {
  overflow: auto;
  display: flex;
  height: 50px;
  align-items: center;
  gap: 20px;
}

.image-column {
  align-items: center;
}

ion-input,
ion-select,
ion-textarea {
  margin-top: 10px;
}

.delete-image-button{
  position: absolute;
  top: 0;
  right: 0;
}