<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="backClicked()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ !isEdit ? 'Create' : 'Update' }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="backClicked()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large"> Create </ion-title>
    </ion-toolbar>
  </ion-header>

  @if(newTree){
  <ion-card>
    <ion-list class="form-container">
      @if(!isEdit){
      <ion-item>
        <ion-select
          fill="outline"
          interface="popover"
          placeholder="Select Type"
          label="Type*"
          label-placement="stacked"
          (ionChange)="typeSelected($event.detail.value)"
          [required]="true"
          [value]="newTree.type"
        >
          <ion-select-option [value]="TreeType.Family"> Family </ion-select-option>
          <ion-select-option [value]="TreeType.Genus"> Genus </ion-select-option>
          <ion-select-option [value]="TreeType.Species"> Species </ion-select-option>
        </ion-select>
      </ion-item>
      }
      <ion-item>
        <ion-input
          fill="outline"
          label="Name*"
          labelPlacement="stacked"
          placeholder="Enter Name"
          (ionChange)="textInputChanged('title', $event)"
          [value]="newTree.title"
        ></ion-input>
      </ion-item>
      @if(newTree.type !== TreeType.Family){
      <ion-item>
        <ion-select
          fill="outline"
          interface="popover"
          [placeholder]="newTree.type === TreeType.Genus ? 'Select Family*' : 'Select Genus*'"
          [label]="newTree.type === TreeType.Genus ? 'Select Family*' : 'Select Genus*'"
          label-placement="stacked"
          (ionChange)="groupSelected($event)"
          [required]="true"
          [value]="newTree.groupId"
        >
          @for (group of treeGroups; track $index) {
          <ion-select-option [value]="group.id"> {{group.title}} </ion-select-option>
          }
        </ion-select>
      </ion-item>
      }
    </ion-list>
  </ion-card>
  @if(newTree.type === TreeType.Species){
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-segment
          [scrollable]="true"
          value="overview"
          (ionChange)="infoTypeChanged($event.target?.value?.toString() ?? '')"
        >
          <ion-segment-button value="overview">Overview</ion-segment-button>
          <ion-segment-button value="leaves">Leaves</ion-segment-button>
          <ion-segment-button value="bark">Bark</ion-segment-button>
          <ion-segment-button value="fruit">Fruit</ion-segment-button>
          <ion-segment-button value="flower">Flower</ion-segment-button>
        </ion-segment>
      </ion-item>

      <!-- individual images -->
      <ion-grid style="padding: 0 16px">
        <ion-row>
          <ion-col>
            <ion-label>Images</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          @if(individualImages.length === 0){
          <ion-col size="3">
            <ion-img
              src="https://static.vecteezy.com/system/resources/thumbnails/005/337/799/large/icon-image-not-found-free-vector.jpg"
              (click)="addPhotoToGallery()"
            ></ion-img>
          </ion-col>
          } @for (image of individualImages; track $index) {
          <ion-col size="3">
            <ion-img [src]="image.webviewPath" (click)="showDeleteImageActionSheet(image)"></ion-img>
          </ion-col>
          }
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-textarea
          #ionInputEl
          fill="outline"
          label="Description"
          labelPlacement="stacked"
          placeholder="Enter Description Here"
          [autoGrow]="true"
          (ionChange)="textInputChanged('individualDescription', $event)"
        ></ion-textarea>
      </ion-item>
    </ion-list>
  </ion-card>
  }

  <div class="save-button-container">
    <ion-button shape="round" (click)="onSubmit()">Save</ion-button>
  </div>
  } @if(newTree != undefined && newTree.type === TreeType.Species){
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }
</ion-content>
